*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

.header {
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.header__top {
    background-color: brown;
    
}
.menu {
}
.menu___list {
}
.menu__item {
}